name: ci

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create folder and push
        run: |
          mkdir -p three
          git config --global user.email "chaithanyagopineedi@gmail.com"
          git config --global user.name "chaithanya33"

          git add two
          git commit -m "3 commit " || echo "Nothing to commit"

          git push
